*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0; /* Opcional: evita el scroll del body */
}
:root{
    --nav-height: 60px;
}

body{
    background-color: white;
    padding-top: var(--nav-height);
}

.navBar{
    background-color: #333;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: var(--nav-height);
    padding: 0;
    display: flex;
    align-items: center;
    z-index: 1000;
    flex-wrap: wrap;
    justify-content: center;
}
.nav_list{
    display: flex;
    gap: 30px;
    list-style-type: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.nav_item{
    padding: 14px 5px;
    font-size: 1.1rem;
}
.item_link{
    color: white;
    text-decoration: none;
}

.nav_button{
    margin-left: 10px;
    margin-right: 5px;
    padding: 10px 10px;
    background-color: rgb(121, 184, 121);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100px;
}

.btnHistorial{
    margin-left: auto;
    margin-right: 30px;
}

.section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}

.tituloSection{
    width: 100%;
    background-color: #666464;
    color: white;
    text-align: center;
    padding: 5px 0;
}


.caja{
    border: 2px solid black;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    width: 160px;
    cursor: pointer;
}



.checkbox-batido {
    width: 10px;
    padding: 10px;
    accent-color: rgb(121, 184, 121);
    margin: 5px auto;
}

.caja:has(.checkbox-batido:checked) {
    background-color: rgb(121, 184, 121);
}


.nombreProductos{
    font-size: 1em;
    font-weight: bold;
    padding: 5px;
}

.imagenPedido{
    height: 150px;
    background-size: cover;
    background-position: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.btnAgregar{
    padding: 10px;
    background-color: rgb(121, 184, 121);
    border: none;
    width: 100%;
    color: white;
    letter-spacing: 5px;
    font-size: large;
    cursor: pointer;
}


.btnAgregarBatidos {
    width: 65%;
    display: block;
    margin: 30px auto;
    border-radius: 10px;
}

.cafe{
    background-image: url('../Imagenes/Americano.png');
}

.Mokaccino{
    background-image: url('../Imagenes/Mocachino.png');
}
.Latte{
    background-image: url('../Imagenes/Latte.png');
}
.ChocolateCaliente{
    background-image: url('../Imagenes/ChocolateCaliente.png');
}
.Espresso{
    background-image: url('../Imagenes/Espresso.png');
}
.Macchiato{
    background-image: url('../Imagenes/Macchiato.png');
}
.Fresa{
    background-image: url('../Imagenes/Fresa.png');
}
.Piña{
    background-image: url('../Imagenes/Piña.png');
}
.Banano{
    background-image: url('../Imagenes/Banano.png');
}
.Mango{
    background-image: url('../Imagenes/Mango.png');
}
.Naranja{
    background-image: url('../Imagenes/Naranja.png');
}
.Papaya{
    background-image: url('../Imagenes/Papaya.png');
}
.Kiwi{
    background-image: url('../Imagenes/Kiwi.png');
}
.Sandia{
    background-image: url('../Imagenes/Sandia.png');
}
.Mora{
    background-image: url('../Imagenes/Mora.png');
}

.Maracuya{
    background-image: url('../Imagenes/Maracuya.png');
}
.Melocoton{
    background-image: url('../Imagenes/Melocoton.png');
}
.Coco{
    background-image: url('../Imagenes/Coco.png');
}
.Arandano{
    background-image: url('../Imagenes/Arandano.png');
}
.Guanabana{
    background-image: url('../Imagenes/Guanabana.png');
}

.Cappuchino{
    background-image: url('../Imagenes/Capuchino.png');
}

.MilkShake{
    background-image: url('../Imagenes/MilkShake.png');
}

.Matcha{
    background-image: url('../Imagenes/Matcha.png');
}

.lecheRegular{
    background-image: url('../Imagenes/LecheEntera.png');
}
.lecheSemiDescremada{
    background-image: url('../Imagenes/LecheRegular.png');
}
.lecheDelactomy{
    background-image: url('../Imagenes/LecheDelactomy.png');
}

.lecheAlmendra{
    background-image: url('../Imagenes/LecheAlmendras.png');
}

.lecheAvena{
    background-image: url('../Imagenes/LecheAvena.png');
}

.Vainilla{
    background-image: url('../Imagenes/Vainilla.png');
}
.Caramelo{
    background-image: url('../Imagenes/Caramelo.png');
}
.CremaAvellanas{
    background-image: url('../Imagenes/CremaAvellanas.png');
}
.CremaIrlandesa{
    background-image: url('../Imagenes/CremaIrlandesa.png');
}
.ShakeCoffeeHouse{
    background-image: url('../Imagenes/ShakeCoffeeHouse.png');
}
.IcedChocolate{
    background-image: url('../Imagenes/IcedChocolate.png');
}
.Frappuchino{
    background-image: url('../Imagenes/Frappuchino.png');
}
.Affogato{
    background-image: url('../Imagenes/Affogato.png');
}
.ColdBrew{
    background-image: url('../Imagenes/ColdBrew.png');
}
.IcedLatte{
    background-image: url('../Imagenes/IcedLatte.png');
}
.HeladoVainilla{
    background-image: url('../Imagenes/HeladoVainilla.png');
}
.HeladoFresa{
    background-image: url('../Imagenes/HeladoFresa.png');
}
.HeladoChocolate{
    background-image: url('../Imagenes/HeladoChocolate.png');
}
.HeladoChocochips{
    background-image: url('../Imagenes/HeladoChocochips.png');
}
.HeladoGalleta{
    background-image: url('../Imagenes/HeladoGalleta.png');
}
.HeladoRonConFrutas{
    background-image: url('../Imagenes/RonconFrutas.png');
}
.HeladoRonConPasas{
    background-image: url('../Imagenes/RonconPasas.png');
}
.HeladoCoco{
    background-image: url('../Imagenes/Coco.png');
}
.HeladoCarameloVainilla{
    background-image: url('../Imagenes/CarameloVainilla.png');
}
.HeladoNaranjaPina{
    background-image: url('../Imagenes/NaranjaPiña.png');
}
.HeladoCombinado{
    background-image: url('../Imagenes/Combinado.png');
}
.HeladoNapolitano{
    background-image: url('../Imagenes/Napolitano.png');
}
.HeladoFresaNieve{
    background-image: url('../Imagenes/FresaNieve.png');
}
.HeladoChicle{
    background-image: url('../Imagenes/Chicle.png');
}
.EspressoDoble{
    background-image: url('../Imagenes/EspressoDoble.png');
}
.Cortado{
    background-image: url('../Imagenes/Cortado.png');
}
.FlatWhite{
    background-image: url('../Imagenes/FlatWhite.png');
}
.IcedAmericano{
    background-image: url('../Imagenes/IcedAmericano.png');
}
.ColdBrewLatte{
    background-image: url('../Imagenes/ColdBrewLatte.png');
}
.Frappe{
    background-image: url('../Imagenes/Frappe.png');
}
.MatchaMango{
    background-image: url('../Imagenes/MatchaMango.png');
}
.MatchaFresa{
    background-image: url('../Imagenes/MatchaFresa.png');
}
.JugoVerde{
    background-image: url('../Imagenes/JugoVerde.png.jpeg');
}
.Refresher{
    background-image: url('../Imagenes/Refresher.png.jpeg');
}
.Granizado{
    background-image: url('../Imagenes/Granizado.jpeg');
}
.Taro{
    background-image: url('../Imagenes/Taro.jpeg');
}
.ChocolateOscuro{
    background-image: url('../Imagenes/ChocolateNegro.png');
}
.Nuez{
    background-image: url('../Imagenes/Nuez.png');
}
.Menta{
    background-image: url('../Imagenes/Menta.png');
}
.Amaretto{
    background-image: url('../Imagenes/Amaretto.png');
}

.Pequeno{
    background-image: url('../Imagenes/VasoPequeño.png');
}
.Grande{
    background-image: url('../Imagenes/VasoGrande.png');
}
.ManzanaVerde{
    background-image: url('../Imagenes/ManzanaVerde.png');
}
.Limonada{
    background-image: url('../Imagenes/Limon.png');
}
.EnsaladaFrutas{
    background-image: url('../Imagenes/EnsaladaFrutas.png');
}
.BananaSplit{
    background-image: url('../Imagenes/BananaSplit.png');
}







.dialog_productos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 0px;
}

.dialog{
    background-color: #0009;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100vw;
    max-height: 100vh;
}

.tituloDialog{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.dialog_content{
    background-color: white;
    width: auto;
    height: auto;
    padding: 10px 20px;
}   



.dialog_content > p{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.ventanaConfirmacion_button{
    padding: 10px 20px;
    background-color: rgb(121, 184, 121);
    color: white;
    border: none;
    margin: 10px;
    margin-left: 30px;
    cursor: pointer;
    font-size: 1.2rem;
}

.btnSalirDialog{
    padding: 10px 20px;
    background-color: rgb(153, 74, 74);
    color: white;
    border: none;
    margin-top: 50px;
    cursor: pointer;
    font-size: 1rem;
}


#btnseguirComprando{
    background-color: rgb(169, 170, 89);
}
#btnlimpiarCarrito{
    background-color: rgb(161, 64, 64);
}

#btnEliminar{
    padding: 5px;
    font-size: 1rem;
    background-color: rgb(161, 64, 64);
    color: white;
}

#btnAgregar{
    width: 80%;
    height: 40px;
    font-size: 2rem;
    background-color: rgb(121, 184, 121);
    color: white;
}

#btnRestar{
    width: 80%;
    height: 40px;
    font-size: 2rem;
    background-color: rgb(161, 64, 64);
    color: white;
}


table{
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
    margin: 20px 0;
}

.tablaHeader{
    background-color: #333;
    color: white;
}

th, td{
    padding: 10px;
    text-align: center;
    font-size: large;
}

.inputNota{
    padding: 10px;
    width: 100%;
    display: block;
    font-size: 1.2rem;
    border: 1px solid #333;
}


.inputNombre{
    padding: 10px;
    width: 60%;
    margin: 20px auto;
    display: block;
    font-size: 1.2rem;
    border: 1px solid #333;
}

dialog label{
    margin-right: 20px;
    font-size: 1.5rem;
}

.cheackbox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

